:root {
    /*
    Colors - pulled from Decay CS palettes
    */
    --decay-background: var(--decay-background-5);
    --decay-foreground: var(--decay-foreground);
    --decay-red: var(--decay-red);
    --decay-green: var(--decay-green);
    --decay-yellow: var(--decay-yellow);
    --decay-blue: var(--decay-blue);
    --decay-magenta: var(--decay-magenta);
    --decay-cyan: var(--decay-cyan);

    /* Dark Decay palette */
    --decay-background-5: #040405;
    --decay-background-4: #07080a;
    --decay-background-3: #0a0c0f;
    --decay-background-2: #0d1014;
    --decay-background-1: #101419;
    --decay-foreground-5: #6b7078;
    --decay-foreground-4: #777c85;
    --decay-foreground-3: #8c929c;
    --decay-foreground-2: #a1a8b3;
    --decay-foreground-1: #b6beca;
    --decay-red: #e05f65;
    --decay-green: #78dba9;
    --decay-yellow: #f1cf8a;
    --decay-blue: #70a5eb;
    --decay-magenta: #c68aee;
    --decay-cyan: #74bee9;

    /* Light Decay palette */
    --light-decay-background: #dee1e6;
    --light-decay-foreground: #101419;
    --light-decay-red: #bd3c42;
    --light-decay-green: #69b373;
    --light-decay-yellow: #ceac67;
    --light-decay-blue: #4d82c8;
    --light-decay-magenta: #a367cb;
    --light-decay-cyan: #519bc6;

    /* Font-families */
    --font-monospace: "Fira Code", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

    /* Font-sizing */
    --font-size-body: 1rem; /* 16px */

    /* Spacing */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-s: 0.5rem; /* 8px */
    --spacing-m: 1rem;
    --spacing-l: 2rem; /* 32px */
    --spacing-xl: 4rem; /* 64px */

    /* SVGs */
    --svg-search-gray: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iIzUyNTI1MiIgZD0iTTMyLDI5LjU4bC05LjQ3LTkuNDdjMS42LTIuMTEsMi41Ni00LjcyLDIuNTYtNy41NkMyNS4wOSw1LjYzLDE5LjQ2LDAsMTIuNTQsMFMwLDUuNjMsMCwxMi41NHM1LjYzLDEyLjU0LDEyLjU0LDEyLjU0YzIuODQsMCw1LjQ2LS45Niw3LjU2LTIuNTZsOS40Nyw5LjQ3LDIuNDItMi40MlpNMy40MiwxMi41NEMzLjQyLDcuNTEsNy41MSwzLjQyLDEyLjU0LDMuNDJzOS4xMiw0LjA4LDkuMTIsOS4xMi00LjA4LDkuMTItOS4xMiw5LjEyUzMuNDIsMTcuNTgsMy40MiwxMi41NFoiLz48L3N2Zz4=');
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: var(--decay-background);
        --primary-font-color: var(--decay-foreground);
        --primary-link-color: var(--decay-blue);
        --primary-link-hover-color: var(--decay-blue);
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --primary-background-color: var(--light-decay-background);
        --primary-font-color: var(--light-decay-foreground);
        --primary-link-color: var(--light-decay-blue);
        --primary-link-hover-color: var(--light-decay-blue);
    }
}
